@keyframes fade-inY {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
   100% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    
  }
  @keyframes fade-inX {
    0% {
      opacity: 0;
      transform: translateX(10px);
    }
   100% {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
    
  }