.footer {
  height: 15rem;
  width: auto;
  background: $white;
  padding: 2rem 4rem 1.5rem 4rem;
  filter: brightness(0.95);

  .yellow__lines {
    position: absolute;
    top: 0;
    right: 8rem;
    width: 8%;
    height: 100%;
    background-color: var(--color-primary);
  }
  &__container {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--color-secondary);
    padding: 1.5rem 5rem;
    width: 80%;
    padding-left: 3rem;
    border-radius: 5px;
    display: flex;
    align-items: start;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    // clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0 100%);
    p {
      color: $white;
    }
  }
  &__lists {
    list-style-type: none;
    display: flex;
    margin-left: 4rem;
    padding-right:5vw;
    height: 6rem;
    justify-content: end;
    width: 90%;
    align-items: center;

      @media only screen and (max-width:$bp-largest) {
        padding-right:0;
      }
    li {
      display: flex;
      align-items: center;
      
    }
    li:not(:last-of-type){
      margin-right: 5rem;
      @media only screen and (max-width:$bp-large) {
        margin-right:1.5rem;
      }
    }
    a {
      color: $white;
      font-size: 1.2rem;
      text-decoration: none;
      font-family: "Poppins", serif;
      margin-right: 1rem;
      @media only screen and (max-width: $bp-small) {
        margin-right: 1px;
      }
      &:hover {
        color: var(--color-primary);
      }
    }

    img {
      width: 1.5rem;
      filter: brightness(0) invert(1);
    }
  }
  &__form-container {
    visibility: hidden;
    position: fixed;
    height:20rem;
    width: 30rem;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: $white;
    padding:2rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;


  }
  &__form {
    font-family: "Regio",sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    input {
      margin-top:.3rem;
   
    }
    input:not(:last-of-type){
      margin-bottom:1rem;
    }
    button{
      align-self: start;
    }
  }
}
